.style {
  background: linear-gradient(135deg, var(--accent), var(--bg-light));
  color: var(--text);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.simple {
  color: var(--text);
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  width: 100%;
}
