
.login-wrapper {
  text-align: center;
  background-color: var(--bg-dark);
  min-height: calc(100vh - var(--navbar-height));
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  opacity: 0.97;
}

.login {
  text-align: center;
  padding: 20px;
  max-width: 500px;
  margin: 50px auto;
  background: var(--bg);
  border-radius: 8px;
  width: 50%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 1px 6px var(--shadow);
}

.sign-in-button {
  margin-top: 20px;
}

@media (max-width: 600px) {
  .home {
    padding: 15px;
  }

  .sign-in-form {
    width: 100%;
    padding: 10px;
  }

  .register-button,
  .sign-in-form .sign-in-button {
    font-size: 0.9rem;
  }
}

.errmsg {
  color: var(--error);
  background-color: var(--error-bg);
  border: 1px solid var(--error);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  text-align: left;
  font-size: 0.9rem;
  display: block;
}

.offscreen {
  display: none;
}
